Repository app-sre/deployment-validation-operator, pull requests merged in 2023-05, with the labels that each got.

#243 test/e2e: initial commit
  Makefile
  README.md
  go.mod
  go.sum
  integration/deployment_test.go
  integration/helpers.go
  integration/suite_test.go
  test/e2e/e2e.go
  test/e2e/e2e_test.go
Labels: approved, lgtm, ok-to-test

#247 add more tests for the reconciler
  pkg/controller/generic_reconciler_test.go
Labels: approved, lgtm

#248 bump up controller-runtime & kube-linter versions
  go.mod
  go.sum
  main.go
Labels: approved, lgtm

#249 DVO-118: enable more checks by default
  pkg/validations/validation_engine.go
Labels: approved, lgtm, jira/valid-reference
